<div class="container">
    <h2>Modifier une recette</h2>
    <form [formGroup]="editRecipeForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>Titre</label>
            <input  formControlName="title" class="form-control" type="text"
                [placeholder]="editRecipeForm.value.title || 'Titre de la recette'" />
        </div>

        <div class="form-group">
            <label>Description</label>
            <input formControlName="description" class="form-control"
                [placeholder]="editRecipeForm.value.description || 'Description de la recette'" />
        </div>

        <div class="form-group">
            <label>type de recette</label>
            <input formControlName="recipe_type" class="form-control"
                [placeholder]="editRecipeForm.value.description || 'type de recette'" />
        </div>

        <div class="form-group">
            <label>temps de preparation</label>
            <input formControlName="time_preparation" class="form-control"
                [placeholder]="editRecipeForm.value.description || 'temps de prparation'" />
        </div>

        <div class="form-group">
            <label for="difficulty">Difficulté</label>
            <select formControlName="difficulty" class="form-control" id="difficulty">
                <option value="">Sélectionner la difficulté</option>
                <option value="facile">Facile</option>
                <option value="normale">Normale</option>
                <option value="difficile">Difficile</option>
            </select>
        </div>


        <!-- <div formArrayName="ingredients">
            <h3>Ingrédients</h3>
            <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i">
                <input type="text" formControlName="ingredient_name" class="form-control" />
                <button type="button" (click)="removeIngredient(i)">sup</button>
            </div>
            <button type="button" (click)="addIngredient()">add</button>
        </div>

        <div formArrayName="steps">
            <h3>Étapes</h3>
            <div *ngFor="let step of steps.controls; let i = index" [formGroupName]="i">
                <input type="text" formControlName="order_step" class="form-control" />
                <input type="text" formControlName="step_description" class="form-control" />
                <button type="button" (click)="removeStep(i)">sup</button>
            </div>
            <button type="button" (click)="addStep()">add</button>
        </div> -->
       

        <button type="submit" class="btn btn-success">Mettre à jour</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Annuler</button>
    </form>
</div>