/* CSS pour le fond de la modal /
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); / Fond semi-transparent pour l'arrière-plan /
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; / Assurez-vous que la modal est au-dessus de tout le reste /
}

/ CSS pour le contenu de la modal */
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 80%;
    overflow: auto;
  }
  
  .btn-success {
    margin-right: 1rem;
  }