<div class="container">
  <h2>Modifier une recette</h2>

  <form [formGroup]="editRecipeForm" (ngSubmit)="onSubmitRecipe()">
    <!-- Titre de la recette -->
    <div class="form-group">
      <label>Titre</label>
      <input formControlName="title" class="form-control" type="text" placeholder="Titre de la recette" />
    </div>
    <!-- Description de la recette -->
    <div class="form-group">
      <label>Description</label>
      <input formControlName="description" class="form-control" placeholder="Description de la recette" />
    </div>

    <!-- Type de recette -->
    <div class="form-group">
      <label>Type de recette</label>
      <input formControlName="recipe_type" class="form-control" placeholder="Type de recette" />
    </div>

    <!-- Temps de préparation -->
    <div class="form-group">
      <label>Temps de préparation</label>
      <input formControlName="time_preparation" class="form-control" type="time" placeholder="Temps de préparation" />
    </div>

    <!-- Difficulté de la recette -->
    <div class="form-group">
      <label>Difficulté</label>
      <select formControlName="difficulty" class="form-control">
        <option value="">Sélectionner la difficulté</option>
        <option value="facile">Facile</option>
        <option value="intermédiaire">Intermédiaire</option>
        <option value="difficile">Difficile</option>
      </select>
    </div>

    <app-modal-list-ingredients [ingredientsEnregistrer]="ingredientsRecus"
      (ingredientsSelected)="onIngredientsSelected($event)">
    </app-modal-list-ingredients>


    

    <div *ngIf="ingredientsActuels.length > 0">
      <h3>Ingrédients actuels de la recette :</h3>
      <ul>
        <li *ngFor="let ingredient of ingredientsActuels">
          {{ ingredient.ingredient_name }}
        </li>
      </ul>
    </div>




    <div formArrayName="steps">
      <h3>Étapes</h3>
      <ol>
        <li *ngFor="let stepCtrl of getSteps().controls; let i = index" [formGroupName]="i">
          <input type="text" formControlName="description" class="form-control" />
          <button type="button" (click)="removeStepFromForm(i)">Supprimer</button>
        </li>
      </ol>
      <button type="button" (click)="addStep()">Ajouter une étape</button>
    </div>


    <!-- Boutons de soumission et d'annulation -->
    <button type="submit" class="btn btn-success">Mettre à jour</button>
    <button type="button" class="btn btn-secondary" (click)="cancel()">Annuler</button>
  </form>
</div>