<div class="recipe-container" *ngIf="recipes">
   <!-- Image & Title Container -->
   <div class="recipe-header">
     <div class="recipe-title">
       <img [src]="getImageUrl(recipes.id_photo[0])" alt="Image de la recette"  height="400px">
       <h1>{{recipes.title}}</h1>
     </div>
   </div>
 
   <!-- Description & Details Container -->
   <div class="recipe-details">
     <p class="recipe-description">Description : {{recipes.description}}</p>
     <p class="recipe-type">Type : {{recipes.recipe_type}}</p>
     <p class="recipe-difficulty">Difficulté : {{recipes.difficulty}}</p>
     <p class="recipe-time">Temps de préparation : {{recipes.time_preparation}}</p>
   </div>
 
   <!-- Ingredients List -->
   <div class="recipe-ingredients">
     <h3>Ingrédients :</h3>
     <ul>
       <li *ngFor="let ingredient of recipes.ingredient">
         {{ ingredient.ingredient_name }}
       </li>
     </ul>
   </div>
 
   <!-- Preparation Steps -->
   <div class="recipe-preparation">
     <h3>Étapes de préparation :</h3>
     <ol> 
       <li *ngFor="let step of recipes.preparation_step">
         {{ step.description }}
       </li>
     </ol>
   </div>
 
   <!-- Action Buttons -->
   <div class="recipe-actions"> 
    <button (click)="goBack()">Retour</button>
     <button class="button-modify" *ngIf="userId === recipes.id_user" (click)="goPageRecipeModiffy(recipeId)">Modifier ma recette</button> 
     <button class="button-delete" *ngIf="userId === recipes.id_user" (click)="deleteRecipe()">Supprimer ma recette</button> 
   </div>
 </div>
 