<div><img src="https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/7970258974aa53589f636936/jkjk-min.jpg"
      alt="image de la recette"></div>
<div *ngIf="recipes">
   <div>
      <h1>Title : {{recipes.title}}</h1>
      <p>id_photo : {{recipes.id_photo[0]?.id_photo}}</p>
   </div>
   <div>
      <p>Description : {{recipes.description}} </p>
      <p >recipe_type : {{recipes.recipe_type}}</p>
      <p>difficulty : {{recipes.difficulty}}</p>
      <p>time_preparation : {{recipes.time_preparation}} </p>
   </div>

   <div>
      <h3>Ingrédients :</h3>
      <ul>
         <li *ngFor="let ingredient of recipes.ingredient">
            {{ ingredient.ingredient_name }}
         </li>
      </ul>
   </div>

   <div>
      <h3>Étapes de préparation :</h3>
      <ol> 
         <li  *ngFor="let step of recipes.preparation_step">
            {{ step.description }}
         </li>
      </ol>
   </div>
   <div> 
      <button (click)="goPageRecipeModiffy(recipeId)" >modifier ma recette</button> 
   </div>



