<div class="card" style="width: 18rem">
  <div class="nft" >
    <div class='main' >
      <img *ngIf="recipeImg" class='recipeImage' [src]="recipeImg"  />
      <!-- <p>{{oneRecipe.id_photo}}</p> -->
      <h2>{{ oneRecipe.title }}</h2>
      <p class='description'>{{ oneRecipe.description }}.</p>
      <div class='tokenInfo'>
        <div class="dificulty">
          <p>Dificulter:</p>
          <div>{{ oneRecipe.difficulty }}</div> 
        </div>
        <div class="duration">
          <ins>◷</ins>
          <p>{{oneRecipe.time_preparation}}</p>
        </div>
      </div>
      <hr />
      <div class=' btn-warning    '>
        <button (click)="goRecipeDetaille(oneRecipe.id_recipe)">RECETTE</button>
      </div>
    </div>
  </div>
