<div class="backgroundImg">
  <div class="container">
    <form class="form" [formGroup]="addUser" (ngSubmit)="onSubmit()">
      <p id="heading">INSCRIPTION</p>

      <div class="field">
        <input
          formControlName="username"
          autocomplete="on"
          placeholder="Username"
          class="input-field"
          type="text"
          [ngClass]="{
            'is-invalid':
              addUser.get('username')?.touched &&
              addUser.get('username')?.invalid
          }"
        />
        <div
          *ngIf="
            addUser.get('username')?.touched && addUser.get('username')?.invalid
          "
          class="invalid-feedback"
        >
          Le pseudo est requis.
        </div>
      </div>

      <div class="field">
        <input
          formControlName="email"
          autocomplete="on"
          placeholder="E-mail"
          class="input-field"
          type="email"
          [ngClass]="{
            'is-invalid':
              addUser.get('email')?.touched && addUser.get('email')?.invalid
          }"
        />

        <div
          *ngIf="addUser.get('email')?.touched && addUser.get('email')?.invalid"
          class="invalid-feedback"
        >
          Format d'adresse e-mail invalide.
        </div>
      </div>

      <div class="field">
        <input
          formControlName="password_hash"
          autocomplete="on"
          placeholder="Mot de passe"
          class="input-field"
          type="password"
          [ngClass]="{
            'is-invalid':
              addUser.get('password_hash')?.touched &&
              addUser.get('password_hash')?.invalid
          }"
        />
        <div
          *ngIf="
            addUser.get('password_hash')?.touched &&
            addUser.get('password_hash')?.invalid
          "
          class="invalid-feedback"
        >
          Le mot de passe doit contenir 8-12 caractères, incluant des
          majuscules, des minuscules et des chiffres.
        </div>
      </div>

      <button class="button1">S'inscrire</button>
    </form>
  </div>
</div>
