
.home-recipe{
  padding-top: 250PX;
  background-size:cover;
  background-image: url('../../../assets/background/BG1.png');
  background-attachment: fixed;
  min-height: 100vh;


}

body{
  display: flex;
}

.mesCards{  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  
}
.maCard{
  align-items:center;
  flex-shrink: 3;

}
