.home-recipe{
  background-size:cover;
  background-image: url('../../../assets/background/BG1.png');
  background-attachment: fixed;
  /* margin-top: 250PX; */
  padding-top: 200px;
  /* background-color: rgb(48,35,58); */
}

body{
  display: flex;
}

.mesCards{
  background-color: 30233A;
  /* margin-top: 250PX; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}
.maCard{
  /* flex-grow: 4; */
  align-items:center;
  flex-shrink: 3;

}
