*{
  margin: 0;
  padding: 0;
  padding-top: 180px;
}
body{
  display: flex;
}


.mesCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: solid 2px red;
}
.maCard{
  flex-grow: 4;
  align-items:center;
  flex-shrink: 3;
}
