<dialog #myDialog>
    <button (click)="closeModalIngredients()" type="button" autofocus>valider</button>
    <p>Liste des ingrédients :</p>
    <ul>
        <li *ngFor="let ingredient of mesIngredient">
            <label for="{{ ingredient.id_ingredient }}">{{
                ingredient.ingredient_name
                }}</label>
            <input value="{{ ingredient.id_ingredient }}" (change)="ajoutMonIngredient($event, ingredient)"
                type="checkbox" id="{{ ingredient.id_ingredient }}" [checked]="isIngredientSelected(ingredient)" />
        </li>
    </ul>
</dialog>
<button (click)="openModalIngredients()" type="button">
    Ouvrir la liste des ingrédients
</button>

