<dialog #myDialog>
    <button (click)="closeModalIngredients()" autofocus>Fermer</button>
    <p>Liste des ingrédients :</p>
    <ul>

        <li *ngFor="let index of mesIngredient">
            <label for="{{index.id_ingredient}}">{{index.ingredient_name}}</label>
            <input value="{{index.id_ingredient}}" (change)="ajoutMonIngredient($event)" type="checkbox" id="{{index.id_ingredient}}">
        </li>
    </ul>
</dialog>
<button (click)="openModalIngredients()">Ouvrir la liste des ingrédients</button>
